@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  background: rgb(226, 223, 223); 
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
  max-width: 600px;
  width: 100%;
  background: #fff;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
  padding: 20px;

}

.container .title{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
 
  color:#08dbad;
  text-transform: uppercase;
  text-align: center;
}
.container .form{
  width: 100%;
}

.container .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.container .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 16px;
}

.container .form .inputfield .input,
.container .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.container .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.container form .inputfield .input:focus,
.container form .inputfield .textarea:focus{
  border: 1px solid #08dbad
}
.container .form .btn {
  margin-top: 20px;
  width: 100%;
  padding: 8px 10px;
  font-size: 18px; 
  border: 0px;
  background:#08dbad;
  color: #fff;
  cursor: pointer;
  border-radius: 18px;
  outline: none;
}
.container .form .btn:hover{
  background-color:#86e7d2;
}

  @media (max-width:540px) {
    .container .form .inputfield{
      flex-direction: column;
      align-items: flex-start;
    }
    .container .form .inputfield label{
      margin-bottom: 5px;
    }
    .container .form .inputfield.terms{
      flex-direction: row;
    }
   
    .container .form .btn {
      width: 100%;
      margin-top: 50px;
    }
  }
  @media (max-width:450px) {
    .container{
      width: 120%;
    }
  }
  @media (max-width:370px) {
    .container{
      width: 150%;
    }
  }