@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.home-section{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }
  .sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }
  nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
  }
  
  .home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
  }
  nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }
  nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }
  nav .profile-details i{
    font-size: 25px;
    color: #333;
  }
  
  .home-section .main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
  }
  .home-section .big-box{
    position: relative;
    width: 50vw;
	padding-top: 80px;
	display: flex;
    justify-content:space-around;
	flex-wrap: wrap;
  }
  .sidebar-icon{
    width: 40px;
    height: 40px;
    filter: invert(1);
  }
  .home-section .big-box .box1,.box2,.box3,.box4,.box5,.box6{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    height: 20vh;
    background: #fff;
    margin: 12px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

  }

  .home-section .big-box .box1 .right-box,.box2 .right-box,.box3 .right-box,.box4 .right-box,.box5 .right-box,.box6 .right-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;

  }
 
  .home-section .big-box .box1 .right-box,.box4 .right-box,.box5 .right-box{
    background-color: #4169e1;
  }
  .home-section .big-box .box2 .right-box,.box3 .right-box,.box6 .right-box{
    background: #1abc9c;
  }
  .home-section .big-box .box1 .left-box,.box2 .left-box,.box3 .left-box,.box4 .left-box,.box5 .left-box,.box6 .left-box{
    color:black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

  }

.home-section .second-box{
  position: relative;
  width: 40vw;
	padding-top: 80px;
	display: flex;
  justify-content:space-around;
	flex-wrap: wrap;
}

.home-section .second-box .facial-img{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30vw;
  height: 40vh;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.home-section .second-box .facial-img .fimg{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 32vw;
  height: 42vh;

}
.home-section .second-box .pie-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 30vw;
  height: 30vh;
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


@media (max-width: 1240px) {
    .home-section{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidebar.active ~ .home-section{
   
      overflow: hidden;
      left: 220px;
    }
    .home-section nav{
      width: calc(100% - 60px);
      left: 60px;
    }
    .sidebar.active ~ .home-section nav{
      width: calc(100% - 220px);
      left: 220px;
    }
  }


@media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i{
      display: none;
    }
    .home-section nav .profile-details{
      height: 50px;
      min-width: 40px;
    }
  }

@media (max-width: 550px) {
  
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
@media (max-width: 700px) {

  .home-section .main-container{
    flex-direction: column;
  }
  .home-section .big-box .box1,.box2,.box3,.box4,.box5,.box6{
   justify-content: center;
	width: 50vw;
  height: 23vh;
  }
  .home-section .second-box .facial-img{
    width: 80vw; 
    }
  .home-section .second-box .pie-box{
  width: 80vw;
  }
}

