*{
    margin:0;
    padding: 0;
}

.container{
    margin-right:2vw;
    margin-left:2vw;
    margin-top: 10vh;

}
td {
    text-align: center;

  }
td a{
    text-decoration: none;
}

.add-btn{
    background-color:#fff;
    color: #1abc9c;
    border: 2px solid #1abc9c;
    font-weight:500;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 10px;
    padding: 4px;
    width: 120px;
    cursor: pointer;
}
.add-btn:hover{
    background-color:#1abc9c;
    color: #fff;
    
}

